name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r devel.txt

      - name: Pylint
        run: |
          pylint src/kaiwu_community

      - name: Doctest (docs-test)
        run: |
          pytest --doctest-modules -o doctest_optionflags=NORMALIZE_WHITESPACE src/kaiwu_community

      - name: Pytest + Coverage
        run: |
          coverage run --source=src/kaiwu_community -m pytest tests
          coverage report
